{% extends 'base.html' %}


{% block content %}
<h1>finally!! a <strong>free daily wakeup call</strong> that's also a zoo inside your telephone!</h1>

<img src="/images/walrus.jpg" style="margin: 80px auto; display: block;" />

<h2>just fill out this card...</h2>

<div id="registration-card" class="tk-caflisch-script-pro">
  <form method="post" action="">
    <div>Dear Sir,</div>
    
    <div>
      <label for="wakeup_hour">Please call and wake me at</label> 
      <select name="wakeup_hour" size="1">
        {% for val in wakeup_hour_options %}
        <option value="{{ val }}"{% ifequal wakeup_hour val %} selected="selected"{% endifequal %}>{{ val }}</option>
        {% endfor %}
      </select>
      :
      <select name="wakeup_minute" size="1">
        {% for val in wakeup_minute_options %}
        <option value="{{ val }}"{% ifequal wakeup_minute val %} selected="selected"{% endifequal %}>{{ val }}</option>
        {% endfor %}
      </select>
      in the morning.
    </div>

    <div>
      <label for="phone_number">My telephone number is</label> 
      <input type="text" id="phone-number" {% if error %}class="error" {% endif %}name="phone_number" {% if phone_number %}value="{{ phone_number }}" {% endif %}size="16" maxlength="16" />
      
      {% if error %}<div class="error">It looks like {{ error }}!</div>{% endif %}
    </div>
    
    <input type="hidden" name="timezone" />

    <input type="submit" id="submit" value="thank you so much!" {% if error %}disabled="disabled"{% endif %} />
    
    <div style="clear: both;"></div>
  </form>
</div>

<h2>... and we'll call you every weekday to ask a simple question, for instance:</h2>
<img src="/images/phone.jpg" style="margin: 40px auto 20px; display: block;" />
<div style="margin-bottom: 50px; text-align: center">(this works your brain just a little bit to help you wake up)</div>

<h2>we'll keep a record of your success so that you can show your friends or feel good about yourself!</h2>

<h1 style="margin-top: 80px; font-weight: bold;"><a href="#get-started" id="get-started">get started now!</a></h1>

{% endblock content %}


{% block extra_js %}
<script type="text/javascript" src="/js/detect_timezone.js"></script>
<script type="text/javascript" charset="utf-8">
$(function () {
  
  // Use js to auto-fill timezone
  var olsonTZ = TZ.determineTimezone().timezone.olson_tz;
  $("input[name='timezone']").val(olsonTZ);
  
  // Prepare some flashy visual effects, for fun and profit!
  var card = $('#registration-card')
    , cardHeight = card.outerHeight()
    , cardY = card.offset().top;
  
  var showScreen = function (duration) {
    if (typeof duration === Number) {
      $('#screen').fadeIn(duration);  
    } else {
      $('#screen').show();
    }
  };
  
  var scrollToCard = function (duration) {
    var windowHeight = $(window).height()
      , scrollY = cardY - 0.5 * (windowHeight - cardHeight);
      
    $('html, body').animate({
      scrollTop: scrollY
    }, duration || 0);
  };
  
  {% if error %}
  
  showScreen();
  scrollToCard();
  
  $('#phone-number.error').bind('focus', function (e) {
    $(this).removeClass('error').val('');
  }).bind('keypress', function (e) {
    $('#registration-card #submit').removeAttr('disabled');
    $('div.error').css('opacity', '0.2');
  });
  
  {% else %} {# error #}
  
  card.bind('click', function (e) {
    showScreen(300);
  });
  
  $('#get-started').bind('click', function (e) {
    scrollToCard(300);
    showScreen(300);
  });
  
  {% endif %}{# error #}

});
</script>
{% endblock extra_js %}
